<div class="container">
  <div class="row header">
    <div class="col-9">
      <%= image_tag "cookpad" %>
      <h1>Mame Challenge</h1>
    </div>
    <div class="col">
      <br>
      <%= link_to 'Random', {random: "true"}, class: 'btn btn-primary' %>
      <%= link_to 'New Entry', new_entry_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Timing</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= entry.twitter_handle.presence || entry.name %></td>
              <td><%= entry.timing.to_f / 1000 %>s</td>
              <td><%= link_to 'x', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>
