<div class="container">
  <div class="row header">
    <div class="col-sm-12">
      <%= link_to image_tag("cookpad"), root_path %>
      <h1>Mame Challenge</h1>
    </div>
    <div class="col-sm-12">
      <% if !random_view? %>
        <%= link_to '⚡︎ Random', {random: "true"}, class: 'btn btn-light left' %>
      <% else %>
        <%= link_to '⌸ Leaderboard', root_path, class: 'btn btn-light left' %>
      <% end %>
      <%= link_to '+ New Entry', new_entry_path, class: 'btn btn-light right' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <% @entries.each.with_index(1) do |entry, i| %>
            <tr>
              <%= random_view? ? nil : "<td>#{i}.</td>".html_safe %>
              <td><%= entry.twitter_handle.presence || entry.name %></td>
              <td><%= entry.timing.to_f / 1000 %>s</td>
              <td><%= link_to 'x', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>
